<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary elevation-4">
  <!-- Brand Logo -->
  <a class="brand-link">
    <img src="./assets/dist/img/Clust-Strategies-Logo.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Clust Strategies</span>
    
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    

    

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        
        <li class="nav-item" (click)="goToPage('Inicio')">
          <a  class="nav-link">
            
            <p>
              Inicio
              <i class="fas fa-angle-down right"></i>
            </p>
          </a>
        </li>
        
        
       
        <li class="nav-item" (click)="goToPage('Perfil')">
          <a  class="nav-link">
            
            <p>
              Mi Perfil
              <i class="fas fa-angle-down right"></i>
            </p>
          </a>
        </li>
        <li class="nav-item" (click)="goToPage('GestionDeDatos')">
          <a  class="nav-link">
            
            <p>
              Gestión de Datos
              <i class="fas fa-angle-down right"></i>
            </p>
          </a>
        </li>
        <li class="nav-item" (click)="goToPage('Analisis')">
          <a class="nav-link">
            
            <p>
              Herramienta de Análisis
              <i class="fas fa-angle-down right"></i>
            </p>
          </a>
        </li>
        <li class="nav-item" (click)="goToPage('Ayuda')">
          <a class="nav-link" >
            
            <p>
              Ayuda
            </p>
          </a>
        </li>
        <li class="nav-item" (click) = "goToPage('login')">
          <a class="nav-link pos-down">
            
            <p>
              Cerrar Sesión
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  
  <!-- /.sidebar -->
</aside>
