<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>HERRAMIENTA DE ANÁLISIS</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>



<ul class="datasets">
</ul>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">1. Seleccionar Data</h3>
        <a (click)="goToPage2('AddClientInfo',dataSetId)" class="btn btn-app">
          <i class="fas fa-plus"></i> Add
        </a>

        
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0" style="height: 300px;">
        <table class="table table-head-fixed text-nowrap">
          <thead>
            <tr>
              <th>#</th>
              <th>Gender</th>
              <th>Ever_Married</th>
              <th>Age</th>
              <th>Graduated</th>
              <th>Profession</th>
              <th>Work_Experience</th>
              <th>Spending_Score</th>
              <th>Family_Size</th>
              <th>Var_1</th>
              
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody *ngFor="let data of clientInfo; index as i">
            <tr>
              <td>{{data.aux_id}}</td>
              <td>{{data.Gender}}</td>
              <td>{{data.Ever_Married}}</td>
              <td>{{data.Age}}</td>
              <td>{{data.Graduated}}</td>
              <td>{{data.Profession}}</td>
              <td>{{data.Work_Experience}}</td>
              <td>{{data.Spending_Score}}</td>
              <td>{{data.Family_Size}}</td>
              <td>{{data.Var_1}}</td>
              <td>
                <a (click)="goToPage2('EditClientInfo',data.id)" class="btn btn-app">
                  Edit
                </a>
              </td>
              <td>
                <a (click)="deleteFromArray(data.id)" class="btn btn-app">
                  Delete
                </a>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
<!-- /.row -->