<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>HERRAMIENTA DE ANÁLISIS</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Clusters</h3>

          
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>cluster</th>
                <th>Gender</th>
                <th>Ever_Married</th>
                <th>Age</th>
                <th>Graduated</th>
                <th>Profession</th>
                <th>Work_Experience</th>
                <th>Spending_Score</th>
                <th>Family_Size</th>
                <th>Var_1</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>0</td>
                <td>{{clientInfo['Gender'][0]}}</td>
                <td>{{clientInfo['Ever_Married'][0]}}</td>
                <td>{{clientInfo['Age'][0]}}</td>
                <td>{{clientInfo['Graduated'][0]}}</td>
                <td>{{clientInfo['Profession'][0]}}</td>
                <td>{{clientInfo['Work_Experience'][0]}}</td>
                <td>{{clientInfo['Spending_Score'][0]}}</td>
                <td>{{clientInfo['Family_Size'][0]}}</td>
                <td>{{clientInfo['Var_1'][0]}}</td>
                
              </tr>
              <tr>
                <td>1</td>
                <td>{{clientInfo['Gender'][1]}}</td>
                <td>{{clientInfo['Ever_Married'][1]}}</td>
                <td>{{clientInfo['Age'][1]}}</td>
                <td>{{clientInfo['Graduated'][1]}}</td>
                <td>{{clientInfo['Profession'][1]}}</td>
                <td>{{clientInfo['Work_Experience'][1]}}</td>
                <td>{{clientInfo['Spending_Score'][1]}}</td>
                <td>{{clientInfo['Family_Size'][1]}}</td>
                <td>{{clientInfo['Var_1'][1]}}</td>
              </tr>
              <tr>
                <td>2</td>
                <td>{{clientInfo['Gender'][2]}}</td>
                <td>{{clientInfo['Ever_Married'][2]}}</td>
                <td>{{clientInfo['Age'][2]}}</td>
                <td>{{clientInfo['Graduated'][2]}}</td>
                <td>{{clientInfo['Profession'][2]}}</td>
                <td>{{clientInfo['Work_Experience'][2]}}</td>
                <td>{{clientInfo['Spending_Score'][2]}}</td>
                <td>{{clientInfo['Family_Size'][2]}}</td>
                <td>{{clientInfo['Var_1'][2]}}</td>
              </tr>
              <tr>
                <td>3</td>
                <td>{{clientInfo['Gender'][3]}}</td>
                <td>{{clientInfo['Ever_Married'][3]}}</td>
                <td>{{clientInfo['Age'][3]}}</td>
                <td>{{clientInfo['Graduated'][3]}}</td>
                <td>{{clientInfo['Profession'][3]}}</td>
                <td>{{clientInfo['Work_Experience'][3]}}</td>
                <td>{{clientInfo['Spending_Score'][3]}}</td>
                <td>{{clientInfo['Family_Size'][3]}}</td>
                <td>{{clientInfo['Var_1'][3]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  <!-- /.row -->
  
  
  
  